if video_url
    <iframe width="560" height="315" src="{{video_url}}" frameborder="0" allowfullscreen></iframe>
if main_image
    img.main(src='{{main_image}}')

if abstract
    .abstract
        .content {{abstract}}

if description
    .description
        h3.label 概要
        .content {{description}}

//- if fundings
//-     for 